<#include "header.html">
<link rel="stylesheet" media="all" href="../styles/letter.css">
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                <#list conversations as conversation>
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="/msg/detail?conversationId=${conversation.maps.message.conversationId}"></a>
                    <div class="letter-info">
                        <span class="l-time">${conversation.maps.message.createdDate?string('yyyy年MM月dd日 hh:mm:ss')}</span>
                        <div class="l-operate-bar">
                            <!--
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            -->
                            <a href="/msg/detail?conversationId=${conversation.maps.message.conversationId}">
                                共${conversation.maps.message.id}条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            ${conversation.maps.unread}
                        </span>
                        <a class="list-head">
                            <img alt="头像" src=${conversation.maps.user.headUrl!''}>
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            ${conversation.maps.user.name}
                        </a>
                        <p class="letter-brief">
                            <a href="/msg/detail?conversationId=${conversation.maps.message.conversationId}">
                                ${conversation.maps.message.content}
                            </a>
                        </p>
                    </div>
                </li>
                </#list>
            </ul>
        </div>
    </div>
<#include "footer.html">